<div class="section section-careers">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column">
                <div class="module-title"><strong class="h3">Job Openings</strong>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>Our wealth of experience and unsurpassed expertise allow us to bring together cutting-edge technologies and a wide range of industries. Want to develop blockchain and DLT solutions? Join our team!</p>
                </div>
                
                <div class="vacancies">
                    {{ range .Data.Pages }}
                    <a href="{{ .Permalink }}" class="vacancy-item">
                        <div class="vacancy-item__head"><strong class="vacancy-item__title">{{ .Title}}
<span>view more</span></strong>
                        </div>
                        <div class="vacancy-item__body">
                            <p>{{ .Description }}</p>
                        </div>
                        <div class="vacancy-item__footer">
                            <p>{{ .Params.info.city }}</p>
                        </div>
                    </a>
                    {{ end }}

                </div>
        
                <div class="module-feedback">
                    <div class="module-feedback__body">
                        <p>We are always looking for new talents in blockchain and software development. Want to join the constantly growing QBT team? Just send us your CV!</p>
                    </div>
                    <div class="module-feedback__button"><a href="#feedback" class="btn btn-default">Write</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>