    {{ with .Params.prospects }}
    <div class="section section-prospects">
        <div class="container">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title module-title_white"><strong class="h3">
                        {{ with .title }}
                            {{ . | safeHTML }}
                        {{ end }}
                    </strong>
                    </div>
                    <div class="module-footer mobile-hide">
                        <!--
                        <div class="module-share">
                            <div class="module-share__body">
                                <div class="module-share__animate">Поделиться</div><span class="icon-plus icon-plus_light"><span class="icon-plus__line"></span></span>
                            </div>
                            <div class="module-share__panel">
                                <ul class="module-share__list">
                                    
                                    <li><a href="#">vk</a>
                                    </li>
                                    <li><a href="#">fb</a>
                                    </li>
                                    <li><a href="#">tw</a>
                                    </li>
                                    <li><a href="#">ссылка</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-content">
                            <p>
                                    {{ with .text }}
                                        {{ . | safeHTML }}
                                    {{ end }}
                                </p>
                    </div>
                    <div class="module-footer mobile-show">
                        <!--
                        <div class="module-share">
                            <div class="module-share__body">
                                <div class="module-share__animate">Поделиться</div><span class="icon-plus icon-plus_light"><span class="icon-plus__line"></span></span>
                            </div>
                            <div class="module-share__panel">
                                <ul class="module-share__list">
                                    <li><a href="#">vk</a>
                                    </li>
                                    <li><a href="#">fb</a>
                                    </li>
                                    <li><a href="#">tw</a>
                                    </li>
                                    <li><a href="#">ссылка</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ end }}