<div class="section section-primary">
    <div class="container">
        <div class="section-primary__head">
          <strong class="h4">{{ .Title }}</strong>
        </div>
        <div class="section-primary__body">
            <h1 class="h2">
                {{ .Site.Params.slogan_long_alter }}
            </h1>
        </div>
        <div class="section-primary__footer">
            <!--
            <div class="module-filter">
                <div class="module-filter__label">Направление</div>
                <ul class="module-filter__list">
                    <li><a href="#">все</a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>
</div>