<a name="section-2"></a>
<div class="section section-list section_primary">
  <div class="container">
      <div class="section-list__head">
        <strong class="h3">Обучающие продукты</strong>
      </div>
      <div class="section-list__body">
          <div class="module-list">
            {{ range where .Data.Pages "Params.tag" "edu" }}
                <div class="module-list__item">
                    <div class="article-primary">
                        <div class="article-primary__body">
                            <h3>
                              {{ .Params.Title }}
                            </h3>
                            <h4 class="h5">
                              {{ .Params.subtitle }}
                            </h4>
                            <div class="module-info">
                                <div class="module-info__column">
                                    <p>
                                      <svg class="icon icon-square">
                                          <use xlink:href="#icon-square"></use>
                                      </svg>
                                      {{ .Params.desc }}
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
          </div>
      </div>
  </div>
</div>