<a name="section-2"></a>
<div class="section section-list section_primary">
  <div class="container">
      <div class="section-list__head">
        <strong class="h3">Education products</strong>
      </div>
      <div class="section-list__body">
          <div class="module-list">
              <div class="module-info">
                <div class="module-info__column">
                  <p>QIWI Blockchain Technologies conducts corporate training for middle and top executives. Course listeners get a comprehensive understanding of blockchain technology, its principles and applicability.</p>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
