<div class="section section-partners section_primary">
    <div class="container">
        <div class="partners">
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">Enterprise Ethereum Alliance - EEA</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>Некоммерческий консорциум, с 2017 года занимается изучением возможностей применения блокчейна Ethereum в реальном бизнесе. В состав EEA входят крупнейшие международные финансовые и IT-компании, в том числе CME Group, Credit Swiss, ING, JP Morgan, UBS, Accenture, Deloitte, Intel и Microsoft.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">R3</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>Крупнейший блокчейн-консорциум основан в 2015 году, объединяет более 70 крупных банков и финансовых компаний со всего мира.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">Ассоциация развития финансовых технологий</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>Ассоциация занимается разработкой и внедрением новых технологических решений в целях обеспечения развития финансового рынка в России и создания условий для цифровизации экономики. Учредители: Центробанк России, Сбербанк, ВТБ, Газпромбанк, Альфа-Банк, банк «Открытие», НСПК, QIWI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>