<div class="section section-partners section_primary">
    <div class="container">
        <div class="partners">
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">Enterprise Ethereum Alliance - EEA</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>Since 2017, this non-profit corporation consortium has been exploring the possibilities of utilizing Ethereum blockchain in real business. EEA connects the largest international financial and IT companies, including CME Group, Credit Swiss, ING, JP Morgan, UBS, Accenture, Deloitte, Intel, and Microsoft. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">R3</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>Founded in 2015, this major blockchain consortium connects over 70 large banks and financial companies from all over the world.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">FinTech Association</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>The Association designs and implements new technological solutions to fuel the development of the Russian financial market and pave the way for the digitization of the Russian economy. Its founders are the Central Bank of Russia, Sberbank, VTB, Gazprombank, Alfa-Bank, Bank Otkrytie, NSPK, and QIWI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>