<div class="section section-partners">
    <div class="container">
        <div class="partners">
            
            
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">RSK</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>One of the best known blockchain companies in the world. Formerly known as Rootstock, the company develops sidechain solutions and implements smart contracts for the Bitcoin network.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">HASH CIB</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>
                                    HASH CIB is the first Russian crypto investment bank offering financial solutions in the cryptocurrency and digital asset markets. The company specializes in raising funds and creating digital financial assets in the new capital market for both Russian and international companies. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>