<div class="section section-partners">
    <div class="container">
        <div class="partners">
            
            
            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">RSK</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>Одна из самых известных блокчейн-компаний во всем мире. Прежде известная как Rootstock, компания занимается разработкой сайдчейн-решений и внедрением смарт-контрактов для сети биткоина.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="partners__item js_animate">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">HASH CIB</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>
                                    HASH CIB — первая российская криптоинвестиционная компания, предоставляющая финансовые решения на рынке криптовалют и цифровых активов. Компания специализируется на привлечении финансирования и создании цифровых финансовых активов на новом рынке капитала для российских и международных компаний.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>