language: node_js
node_js:
  - "8"

branches:
  only:
  - master

cache:
  directories:
      - "node_modules"

before_install:
  - sudo apt update
  - sudo apt install -y snapd
  - sudo snap install hugo
  - npm install -g firebase-tools
  - cd functions
  - npm install
  - cd ../

script: 
  - sudo snap refresh
  - sudo snap info hugo
  - sudo hugo

after_success: 
  - sudo chmod -R 777 ./public
  - firebase deploy --token $FIREBASE_DEPLOY_TOKEN