/*  ======================================================================
        MAIN CONTAINER
========================================================================== */
html,
body {
	height: 100%;
}

.preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eaebeb;
    opacity: 1;
}

@keyframes animation_preloader {
	0% {
		-webkit-transform: translateX(-30px);
				transform: translateX(-30px);
	}
	50% {
		-webkit-transform: translateX(30px);
				transform: translateX(30px);
	}
	100% {
		-webkit-transform: translateX(-30px);
				transform: translateX(-30px);
	}
}

@keyframes animation_preloader_item_1 {
	0% {
		-webkit-transform: translateX(0px);
				transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(16px);
				transform: translateX(16px);
	}
	100% {
		-webkit-transform: translateX(0px);
				transform: translateX(0px);
	}
}

@keyframes animation_preloader_item_2 {
	0% {
		-webkit-transform: translateX(0px);
				transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(24px);
				transform: translateX(24px);
	}
	100% {
		-webkit-transform: translateX(0px);
				transform: translateX(0px);
	}
}

.preloader-icon {
	display: none;
	position: absolute;
	top: calc(50% - 14px);
	left: calc(50% - 15px);
	animation: animation_preloader 4s infinite forwards;
}

.preloader-icon span {
	display: block;
	width: 24px;
	height: 4px;
	background-color: #ff8c1b;
	margin-bottom: 8px;
}

.preloader-icon span:nth-child(1) {
	animation: animation_preloader_item_1 4s 0.4s infinite forwards;
}

.preloader-icon span:nth-child(2) {
	width: 40px;
}

.preloader-icon span:nth-child(3) {
	animation: animation_preloader_item_2 4s infinite forwards;
	width: 16px;
	margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
	.preloader-mb {
		background-color: #686969;
	}
	.preloader-icon {
		display: block;
	}
}

/*----- IE -----*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .preloader { display: none !important; }
}


/*  ======================================================================
        MAIN CONTAINER
========================================================================== */
.main-container {
	position: relative;
	background-color: #eaebeb;
	height: 100vh;
}

.main-container:before {
	content: '';
	position: absolute;
	left: 0;
	right: 100%;
	top: 0;
	bottom: 0;
	z-index: 9;
	opacity: 0;
	background-color: #eaebeb;
}

@keyframes animation_opacity_out {
	0% {
		opacity: 0;
		right: 100%;
	}
	10% {
		opacity: 0.4;
	}
	30% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}

.main-container.fade-out:before {
	animation: animation_opacity_out 1s forwards;
}

@keyframes animation_opacity_in {
	0% {
		opacity: 1;
		right: 0;
	}
	100% {
		opacity: 0;
		right: 0;
	}
}

.main-container.fade-in:before {
	animation: animation_opacity_in 0.5s forwards;
}


/*  ======================================================================
        HEADER
========================================================================== */
.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	padding: 35px 40px;
}

.logo {
	width: 100px;
}

.logo a {
	display: block;
	text-decoration: none;
}

.header .main-nav {
	padding: 3px 0;
}

.main-nav li {
	display: inline-block;
	vertical-align: top;
	margin-right: 43px;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav a {
	position: relative;
	padding-bottom: 6px;
	font-size: 14px;
	color: #686969;
	text-decoration: none !important;
	-webkit-transition: all .2s;
			transition: all .2s;
}

.lang-link {
	margin-left: 67px;
}

.lang-link a:before {
	display: none !important;
}

.lang-link a:hover {
	color: #2d2d2d;
}


/*  ======================================================================
        SECTION
========================================================================== */
@media only screen and (max-width: 991px) {
	.section--s1 .section-in {
		opacity: 0;
		-webkit-transition: all .5s;
				transition: all .5s;
	    -webkit-transform: translateY(12px);
    			transform: translateY(12px);
	}
	.section--s1 .section-in.mb-show {
		opacity: 1;
	    -webkit-transform: translateY(0px);
	    		transform: translateY(0px);	
	}
}
.owl-sections-wrap,
.owl-sections,
.owl-wrapper-outer,
.owl-wrapper,
.owl-item,
.section {
	height: 100%;
	overflow: hidden;
}

.section {
	position: relative;
	-webkit-transition: all .3s;
    		transition: all .3s;
}

.section-in {
	-webkit-transition: all .8s;
			transition: all .8s;
}
@media only screen and (max-width: 991px) {
	.section {
		overflow: auto;
	}
	.section-in {
		padding-top: 120px;
	}
}
@media only screen and (min-width: 992px) {
	.vertical-middle {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		-webkit-transform: translate(-50px, -50%);
				transform: translate(-50px, -50%);	
	}
	.section--scroll {
		overflow: auto;
	}
	.section--scroll .section-in {
		padding: 150px 0;
		-webkit-transform: translateX(-50px);
				transform: translateX(-50px);		
	}
}

.section--overlay:before,
.section--overlay:after {
	content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 20px;
    height: 92px;
    z-index: 99;
    opacity: 0;
    background-color: #eaebeb;
	-webkit-transition: all .3s;
    		transition: all .3s;
}

.section--overlay:after {
	top: auto;
	bottom: 0;
	height: 86px;
}

@media only screen and (max-width: 991px) {
	.section--overlay:before { right: 0; }
	.section--overlay:after { display: none; }
}

.section.active.section--overlay:before,
.section.active.section--overlay:after {
	opacity: 1;
}

.section.section--s1.top {
	-webkit-transform: translateY(-169px);
			transform: translateY(-169px);
}

.section:not(.section--s1).top { height: calc(100% - 169px); }
.section:not(.section--s1).top:after { bottom: 169px; }

/*----- Section Obj -----*/
.section-obj {
	position: absolute;
	left: 0;
	top: 50%;
	opacity: 0;
	display: none;
	-webkit-transform: translate(-100px, -50%);
			transform: translate(-100px, -50%);
	-webkit-transition: all .8s;
			transition: all .8s;
}

.section-obj--car {
	top: 64%;
	width: 680px;
	height: 236px;
	background: url(../img/car.svg) no-repeat;
}

.section-obj--running-man {
	top: 34%;
    width: 680px;
    height: 307px;
	background: url(../img/running-man.svg) no-repeat;
}

@media only screen and (min-width: 992px) {
	@keyframes animation_section_in {
		0% {
			opacity: 0;
			-webkit-transform: translate(-50px, -50%);
					transform: translate(-50px, -50%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translate(0px, -50%);
					transform: translate(0px, -50%);
		}
	}

	@keyframes animation_section_in_alt {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-50px);
					transform: translateX(-50px);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateX(0px);
					transform: translateX(0px);
		}
	}

	@keyframes animation_section_out {
		0% {
			opacity: 1;
			-webkit-transform: translate(0px, -50%);
					transform: translate(0px, -50%);
		}
		100% {
			opacity: 0;
			-webkit-transform: translate(50px, -50%);
					transform: translate(50px, -50%);
		}
	}

	@keyframes animation_section_obj {
		0% {
			opacity: 0;
			-webkit-transform: translate(-100px, -50%);
					transform: translate(-100px, -50%);
		}
		100% {
			opacity: 1;
			-webkit-transform: translate(0px, -50%);
					transform: translate(0px, -50%);
		}
	}
	
	.section-in { opacity: 0; }
	.section.active .section-in {
		animation: animation_section_in 1s forwards;
	}

	.section--scroll.active .section-in {
		animation: animation_section_in_alt 1s forwards;
	}

	.section--s2.active .section-in {
		animation: animation_section_in 1s 0.8s forwards;
	}

	.section--s3.active .section-in {
		animation: animation_section_in 1s 0.6s forwards;
	}

	.section--s1.out .section-in {
		animation: animation_section_out 0.8s forwards;
	}

	.section-obj { display: block; }
	.section--s2.active .section-obj,
	.section--s3.active .section-obj {
		animation: animation_section_obj 1.2s forwards;
	}
}
@media only screen and (max-width: 1600px) {
	.section-obj--car { left: -70px; }
	.section-obj--running-man { left: -70px; }
}
@media only screen and (max-width: 1367px) {
	.section-obj--car {
		top: 69%;
		left: -120px;
		width: 585px;
		height: 202px;
	}
	.section-obj--running-man {
		top: 34%;
		left: -150px;
		width: 620px;
		height: 281px;
	}
}
@media only screen and (max-width: 1024px) {
	.section-obj--car { left: -200px; }
	.section-obj--running-man { left: -250px; }
}


/*  ======================================================================
        SECTION - S1
========================================================================== */
.section--s1 .section-in {
	top: calc(50% + 110px);
}

.s-title {
    font-size: 36px;
    font-family: 'MuseoSansCyrl-700';
    color: #2d2d2d;
    margin-bottom: 45px;
}

.p-s1 {
	position: relative;
	padding-top: 15px;
	letter-spacing: -0.1px;
}

.p-s1:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 14px;
	height: 2px;
	background-color: #2d2d2d;
}

.scene {
	position: absolute;
	top: -30px;
	bottom: -30px;
	left: 0;
	right: 0;
}

.scene-item {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.scene-item--s1 {
	background-image: url(../img/bg/parallax-bg-1.png);
	background-position: top center;
}

.scene-item--s2 {
	background-image: url(../img/bg/parallax-bg-4.png);
	background-position: bottom right;
}

.scene-item--s3 {
	background-image: url(../img/bg/parallax-bg-2.png);
    background-position: top left;
}

.scene-item--s4 {
    background-image: url(../img/bg/parallax-bg-3.png);
    background-size: cover;
    background-position: top right;
}

.scene-item--s5 {
	background-image: url(../img/bg/parallax-bg-5.png);
	background-position: left bottom;
}

/*----- Media Styles -----*/
@media only screen and (max-width: 991px) {
	.section--s1 {
		background: url(../img/bg/mb-bg.png) no-repeat 31% 0%;
	}
	.section--s1 .slick-slider {
		padding-bottom: 43px;
	}
	.scene-item {
		display: none;
	}
	.s-title {
		font-size: 30px;
		margin-bottom: 70px;
	}
	.p-s1:before {
		background-color: #b5b6b6;
	}
	.section--s1 .p-s1 { margin-bottom: 0; }
	.section--s1 .p-s1 br { display: none; }
	.scene { display: none; }
}


/*  ======================================================================
        SECTION - S2
========================================================================== */
.section--s2 .s-title {
	margin-bottom: 77px;
}

/*----- Box Style-1 -----*/
.box-s1__number {
	position: relative;
    float: left;
    font-size: 72px;
    width: 87px;
    text-align: right;
    line-height: 48px;
    color: #fff;
    font-family: Consolas;
}

@media only screen and (min-width: 992px) {
	.box-s1__number--on-line { top: -9px; }
	.box-s1.box-s1--s1 { margin-top: -128px; }
	.box-s1.box-s1--s2 { margin-top: 71px; }
	.box-s1.box-s1--s3 { margin-top: 161px; }
	.box-s1.box-s1--s4 { margin-top: 139px; }
}

.box-s1__text {
	position: relative;
	padding-left: 15px;
	margin-left: 87px;
}

.box-s1__text .p-s1 {
    padding-top: 26px;
    white-space: nowrap;
}

.box-s1__title {
    font: 18px/27px 'MuseoSansCyrl-700';
    color: #2d2d2d;
    margin-bottom: 14px;
}

/*----- Media Styles -----*/
@media only screen and (max-width: 991px) {
	.section--s2 .s-title { margin-bottom: 32px; }
	.section--s2 .slick-slider { padding-bottom: 26px; }
	.box-s1__number {
		float: none;
		width: auto;
		line-height: 112px;
		line-height: 130px;
		font-size: 170px;
		text-align: left;
	}
	.box-s1__text {
		margin-left: 0;
		padding-left: 7px;
		margin-top: -74px;
	}
	.box-s1__text .p-s1 {
		white-space: normal;
		padding-top: 0;
	}
	.box-s1__text br { display: none; }
	.box-s1__text .p-s1:before { display: none; }
}


/*  ======================================================================
        SECTION - S3
========================================================================== */
.section--s3 .s-title {
	margin-bottom: 73px;
}

/*----- Media Styles -----*/
@media only screen and (max-width: 991px) {
	.section--s3 .s-title { margin-bottom: 32px; }
	.section--s3 .slick-slider { padding-bottom: 26px; }
}


/*  ======================================================================
        SECTION - S4
========================================================================== */
.section--s4 .s-title {
    margin-bottom: 22px;
}

/*----- News -----*/
.news-article {
	text-align: left;
	overflow: hidden;
	margin-bottom: 40px;
}

.news-article__img {
	float: left;
	width: 183px;
	height: 127px;
}

.news-article__content {
	max-width: 250px;
	padding-left: 40px;
	margin-left: 183px;
}

.news-article__title {
	position: relative;
	top: -6px;
    margin-bottom: 10px;
}

.news-article__title,
.news-article__title a {
	color: #2d2d2d;
    font: 18px/27px 'MuseoSansCyrl-700';
    text-decoration: none !important;
}

.news-article__title a {
	display: inline-block;
}

.news-article__date {
	font-size: 14px;
	color: #686969;
}

/*----- Media Styles -----*/
@media only screen and (min-width: 992px) {
	.news-article__date {
		font: 14px 'MuseoSansCyrl-700';
	}
}

.grayscale img {
	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		 -o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
            transition: all .35s;
}
.news-article__img.hover img,
.grayscale:hover img,
.grayscale:active img {
	-webkit-filter: grayscale(0%);
	   -moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		 -o-filter: grayscale(0%);
}

@media only screen and (max-width: 991px) {
	.section--s4 .s-title { margin-bottom: 14px; }
	.section--s4 .slick-slider { padding-bottom: 50px; }
	.news-article { margin-bottom: 0; }
	.news-article__img {
		float: none;
		width: auto;
		height: auto;
		margin-bottom: 16px;
	}
	.news-article__content {
		max-width: none;
		padding-left: 0px;
		margin-left: 0px;
	}
	.news-article__title {
		top: 0px;
		margin-bottom: 12px;
	}
}


/*  ======================================================================
        SECTION - S5
========================================================================== */
.section--s5 .s-title {
    margin-bottom: 85px;
}

/*----- News -----*/
.team-item {
	position: relative;
	text-align: left;
}

.team-item:after {
	content: '';
	display: table;
	clear: both;
}

.team-item__img {
	float: left;
	width: 183px;
	height: 183px;
	-webkit-transition: all .4s;
			transition: all .4s;
}

@media only screen and (min-width: 992px) {
	.team-item:hover .team-item__img {
		-webkit-transform: translateY(-15px);
				transform: translateY(-15px);
		box-shadow: 0 15px 20px rgba(44, 55, 62, 0.15);
	}
}

.team-item__content {
	margin-left: 183px;
	max-width: 305px;
	padding-left: 38px;
}

.team-item__fio {
	position: relative;
    top: -4px;
    padding-bottom: 11px;
    color: #2d2d2d;
    font: 18px 'MuseoSansCyrl-700';
}

.team-item__desc,
.team-item__desc-alt {
	font-size: 14px;
	line-height: 24px;
	color: #686969;
}

.team-item__desc-alt {
	display: none;
}

@media only screen and (min-width: 992px) {
	.team-item--s2 { margin-top: -178px; margin-bottom: 100px; }
	.team-item--s3 { padding-right: 20px; margin-bottom: 82px; }
	.team-item--s5 { margin-top: -92px; }
}

/*----- Media Styles -----*/
@media only screen and (max-width: 991px) {
	.section--s5 .s-title {	margin-bottom: 16px; }
	.section--s5 .slick-slider { padding-bottom: 55px; }
	.team-item__img {
		margin-bottom: 20px;
		float: none;
		width: 160px;
		height: 160px;
	}
	.team-item__content {
		max-width: 305px;
		margin-left: 0;
		padding-left: 0;
	}
	.team-item__fio {
		top: 0px;
		padding-bottom: 15px;
	}
	.team-item__desc { display: none; }
	.team-item__desc-alt { display: block; }
}


/*  ======================================================================
        SECTION - S6
========================================================================== */
.section--s6 .s-title {
	margin-bottom: 82px;
}

.section--s6 .contacts-box {
	display: block;
	font-size: 14px;
	line-height: 24px;
    margin-bottom: 24px;
	margin-right: 0;
	color: #686969;
}

.section--s6 .contacts-box:last-child {
	margin: 0px;
}

.section--s6 .contacts-box a,
.section--s6 .contacts-box span b {
	color: #686969 !important;
}


/*  ======================================================================
        FOOTER
========================================================================== */
.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	-webkit-transition: all .3s;
			transition: all .3s;
	-webkit-transform: translateY(169px);
			transform: translateY(169px);
}

.footer.active {
	-webkit-transform: translateY(0px);
			transform: translateY(0px);
}

.footer-in {
	padding: 27px 40px;
}

.footer-in .logo-alt {
	position: relative;
	top: -11px;
}


/*  ======================================================================
        SECTION - CONTACTS
========================================================================== */
.section-contacts {
	padding: 40px 0 44px;
	border-top: 1px solid #d1d1d1;
	background-color: #eaebeb;
}

.section-contacts .logo {
    padding-top: 8px;
    margin-bottom: 25px;
}

.copyright {
	font-size: 10px;
	color: #686969;
}

.menu-s2 {
	display: inline-block;
	vertical-align: top;
	margin-right: 70px;
}

.menu-s2:last-child {
	margin-right: 0;
}

.menu-s2 li {
	display: block;
	margin-bottom: 10px;
}

.menu-s2 li:last-child {
	margin-bottom: 0;
}

.menu-s2 a {
	font-size: 11px;
	color: #686969;
	text-decoration: none !important;
	-webkit-transition: all .2s;
			transition: all .2s;
}

.menu-s2 a:hover {
	color: #2d2d2d;
}

.contacts-box {
	display: inline-block;
	vertical-align: top;
	margin-right: 63px;
	font-size: 11px;
	line-height: 21px;
	color: #686969;
}

.contacts-box:last-child {
	margin-top: 21px;
	margin-right: 0;
}

.contacts-box span {
	display: block;
}

.contacts-box span b {
	color: #2d2d2d;
	font-weight: normal;
}

/*----- Media Styles -----*/
@media only screen and (min-width: 992px) {
	.contacts-box span b {
		font-family: 'MuseoSansCyrl-700';
	}
}

.contacts-box a {
	display: inline-block;
	color: #686969;
	text-decoration: none !important;
	-webkit-transition: all .2s;
			transition: all .2s;
}

.contacts-box a:hover {
	color: #2d2d2d;	
}

/*----- Social Media -----*/
.social-media {
    list-style: none;
    padding-top: 30px;
    padding-right: 10px;
}

.social-media li:not(:last-child) {
    margin-bottom: 10px;
}

.social-media a {
    display: inline-block;
    vertical-align: top;
    color: #a9aaaa;
    font-size: 14px;
    -webkit-transition: all .2s;
            transition: all .2s;
}

.social-media a:hover {
    color: #2d2d2d;
}

/*----- Hover E1 -----*/
.hover-e1,
.hover-e1-span span,
.hover-e1-wrap a {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-decoration: none !important;
}

.hover-e1:before,
.hover-e1-span span:before,
.hover-e1-wrap a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff8c00;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(0,1,1);
       -moz-transform: scale3d(0,1,1);
            transform: scale3d(0,1,1);
    -webkit-transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
       -moz-transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
            transition: transform 0.8s cubic-bezier(0.2,1,0.3,1);
}

.hover-e1:hover:before,
.hover-e1-span:hover span:before,
.hover-e1-wrap a:hover:before,
.hover-e1-wrap a.active:before {
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(1,1,1);
       -moz-transform: scale3d(1,1,1);
            transform: scale3d(1,1,1);
}

/*  ======================================================================
        TRACK ANIMATIONS
========================================================================== */
@media only screen and (min-width: 992px) {
	.track-list {
	    position: absolute;
	    top: 72px;
	    bottom: 2px;
	    right: 0;
	    left: 104px;
	}

	@keyframes animation_track {
		0% {
			opacity: 0;
			-webkit-transform: translateX(0px);
					transform: translateX(0px);
		}
		30% {
			opacity: 1;
		}
		40% {
			opacity: 1;
		}
		80% {
			opacity: 0;
		}
		100% {
			opacity: 0;
			-webkit-transform: translateX(-200px);
					transform: translateX(-200px);
		}
	}

	.track-list span {
		position: absolute;
	    height: 5px;
	    opacity: 1;
		background-color: #cbcccd;
	}

	/*----- Animation Car -----*/
	.section-obj--car .track-list span:nth-child(1) {
	    width: 24px;
	    top: 0;
	    left: 69px;
		animation: animation_track 1.1s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(2) {
	    width: 30px;
	    top: 28px;
	    left: 85px;
		animation: animation_track 1.1s 0.7s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(3) {
	    width: 14px;
	    top: 33px;
	    left: 48px;
		animation: animation_track 1.1s 0.3s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(4) {
	    width: 28px;
	    top: 47px;
	    left: 48px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(5) {
		width: 23px;
		top: 66px;
		left: 6px;
		animation: animation_track 1.1s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(6) {
	    width: 34px;
	    top: 80px;
		left: 19px;
		animation: animation_track 1.1s 0.7s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(7) {
	    width: 28px;
	    top: 113px;
	    left: 36px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(8) {
		width: 19px;
		top: 132px;
		left: 48px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(9) {
	    width: 30px;
	    top: -72px;
	    left: 99px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(10) {
	    width: 30px;
	    top: -49px;
	    left: 358px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(11) {
		width: 19px;
		top: -10px;
		left: 508px;
		animation: animation_track 1.1s 0.5s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(12) {
	    width: 5px;
	    top: 14px;
	    left: 188px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(13) {
	    width: 19px;
	    top: 14px;
	    left: 320px;
		animation: animation_track 1.1s 0.3s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(14) {
	    width: 30px;
	    top: 33px;
	    left: 318px;
		animation: animation_track 1.1s 0.1s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(15) {
		width: 5px;
		top: 66px;
		left: 254px;
		animation: animation_track 1.1s 0.7s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(16) {
		width: 30px;
		top: 90px;
		left: 168px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}

	.section-obj--car .track-list span:nth-child(17) {
	    width: 16px;
	    top: 123px;
	    left: 170px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	/*----- Animation Running Man -----*/
	.section-obj--running-man .track-list span {
		height: 6px;
	}

	.section-obj--running-man .track-list {
	    position: absolute;
	    top: 0px;
	    bottom: 0;
	    right: 0;
	    left: 264px;
	}

	.section-obj--running-man .track-list span:nth-child(1) {
	    width: 24px;
	    top: 19px;
	    left: 244px;
		animation: animation_track 1.1s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(2) {
	    width: 30px;
	    top: 39px;
	    left: 137px;
		animation: animation_track 1.1s 0.7s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(3) {
	    width: 14px;
	    top: 51px;
	    left: 182px;
		animation: animation_track 1.1s 0.3s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(4) {
	    width: 28px;
	    top: 77px;
	    left: 204px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(5) {
	    width: 12px;
	    top: 96px;
	    left: 180px;
		animation: animation_track 1.1s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(6) {
	    width: 11px;
	    top: 102px;
	    left: 88px;
		animation: animation_track 1.1s 0.7s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(7) {
	    width: 12px;
	    top: 115px;
	    left: 116px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(8) {
	    width: 28px;
	    top: 147px;
	    left: 130px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(9) {
	    width: 6px;
	    top: 160px;
	    left: 97px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(10) {
	    width: 30px;
	    top: 205px;
	    left: 56px;
		animation: animation_track 1.1s 0.4s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(11) {
	    width: 20px;
	    top: 230px;
	    left: 66px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(12) {
		width: 12px;
		top: 256px;
		left: 212px;
		animation: animation_track 1.1s 0.1s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(13) {
	    width: 6px;
	    top: 275px;
	    left: 7px;
		animation: animation_track 1.1s 0.6s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(14) {
	    width: 20px;
	    top: 295px;
	    left: 46px;
		animation: animation_track 1.1s 0.2s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(15) {
		width: 33px;
		top: -20px;
		left: 46px;
		animation: animation_track 1.1s 0.8s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(16) {
	    width: 20px;
	    top: -5px;
	    left: 206px;
		animation: animation_track 1.1s 0.4s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(17) {
	    width: 27px;
	    top: 199px;
	    left: 250px;
		animation: animation_track 1.1s 0.1s infinite forwards;
	}

	.section-obj--running-man .track-list span:nth-child(18) {
		width: 20px;
		top: 237px;
		left: 206px;
		animation: animation_track 1.1s 0.9s infinite forwards;
	}
}


/*  ======================================================================
        RESPONSIVE
========================================================================== */
.mb-menu {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 9999;
	width: 260px;
	padding: 0 25px 0 30px;
	background-color: #fafafa;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
            transition: all 0.4s;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    will-change: transform;
}

.mb-menu.active {
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
            transition: all 0.5s;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
            transform: none;
}

.mb-menu-overlay {
	position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    cursor: pointer;
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
            transition: all 0.4s;
}

.mb-menu-overlay.active {
    opacity: .6;
    visibility: visible;
}

.mb-menu__top {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
    		flex-direction: row;
    -webkit-flex-wrap: nowrap;
    		flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    		justify-content: space-between;
    -webkit-align-items: center;
    		align-items: center;
	padding: 30px 0;
    margin-bottom: 30px;
}

.mb-menu__lang-link a {
	font: 14px 'MuseoSansCyrl-700';
	color: #686969;
	text-decoration: none !important;
}

.mb-menu__close {
	width: 15px;
	height: 17px;
	background: url(../img/icon-close.svg) no-repeat;
}

.mb-menu__list {
	list-style: none;
    margin-bottom: 35px;
}

.mb-menu__list li:not(:last-child) {
	margin-bottom: 18px;
}

.mb-menu__list a {
	display: block;
	font-size: 21px;
	color: #646565;
	text-decoration: none !important;
	-webkit-transition: all .3s;
			transition: all .3s;
}

.mb-menu__list a:hover,
.mb-menu__list a.active {
	color: #2d2d2d;
	font-family: 'MuseoSansCyrl-700';
	-webkit-transform: translateX(19px);
			transform: translateX(19px);
}

.mb-menu .social-media {
	padding-bottom: 30px;
}

.mb-menu .social-media li {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
	margin-right: 28px;
}

.mb-menu .social-media li:last-child {
	margin-right: 0;
}

.burger-icon span {
	display: block;
	width: 15px;
	height: 3px;
	background-color: #ff8c1b;
	margin-bottom: 5px;
}

.burger-icon span:nth-child(2) { margin-left: 5px; }
.burger-icon span:nth-child(3) { width: 11px; margin-bottom: 0; margin-left: 2px; }

.mb-header {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
    padding: 30px;
    opacity: 0;
    -webkit-flex-direction: row;
    		flex-direction: row;
    -webkit-flex-wrap: nowrap;
    		flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    		justify-content: space-between;
    -webkit-align-items: center;
    		align-items: center;
    -webkit-transition: all .5s;
    		transition: all .5s;
    -webkit-transform: translateY(-12px);
    		transform: translateY(-12px);
}

.mb-header.mb-show {
	opacity: 1;
    -webkit-transform: translateY(0px);
    		transform: translateY(0px);	
}

.mb-header .logo {
	width: 120px;
}

/*----- Media Styles -----*/
@media only screen and (max-width: 991px) {
	.mb-header {
		display: -webkit-flex;
		display: flex;
	}
}