<div class="section section-list">
        <div class="container">
            <div class="section-list__head"><strong class="h3">Наши проекты для индустрии</strong>
            </div>
            <div class="section-list__body">
                <div class="module-list">
                    <div class="module-list__item">
                        <div class="article-primary">
                            <div class="article-primary__body">
                                <h3><a href="#">KFG Capital</a></h3>
                                <div class="module-info">
                                    <div class="module-info__column">
                                        <p>
                                            <svg class="icon icon-square">
                                                <use xlink:href="#icon-square"></use>
                                            </svg>ROI 500%</p>
                                    </div>
                                    <div class="module-info__column">
                                        <p>$1.4 млрд объём выручки  наших клиентов</p>
                                    </div>
                                </div>
                            </div>
                            <div class="article-primary__media">
                                <a href="#">
                                    <img src="/images/content/example-320x200-1.jpg" alt="KFG Capital" class="article-primary__img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-list__item">
                        <div class="article-primary">
                            <div class="article-primary__body">
                                <h3><a href="#">Petrochemical Holding GmbH</a></h3>
                                <div class="module-info">
                                    <div class="module-info__column">
                                        <p>
                                            <svg class="icon icon-square">
                                                <use xlink:href="#icon-square"></use>
                                            </svg>ROI 1250%</p>
                                    </div>
                                    <div class="module-info__column">
                                        <p>$1.4 млрд объём выручки  наших клиентов</p>
                                    </div>
                                </div>
                            </div>
                            <div class="article-primary__media">
                                <a href="#">
                                    <img src="/images/content/example-320x200-2.jpg" alt="Petrochemical Holding GmbH" class="article-primary__img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="module-list__item">
                        <div class="article-primary">
                            <div class="article-primary__body">
                                <h3><a href="#">SKYF</a></h3>
                                <div class="module-info">
                                    <div class="module-info__column">
                                        <p>
                                            <svg class="icon icon-square">
                                                <use xlink:href="#icon-square"></use>
                                            </svg>ROI 200%</p>
                                    </div>
                                    <div class="module-info__column">
                                        <p>$1.4 млрд объём выручки  наших клиентов</p>
                                    </div>
                                </div>
                            </div>
                            <div class="article-primary__media">
                                <a href="#">
                                    <img src="/images/content/example-320x200-3.jpg" alt="SKYF" class="article-primary__img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>