<div class="section section-contacts">
    <div class="container">
        <div class="section-contacts__head">
            <div class="grid-row js_animate">

                <div class="grid-column grid-column_space">
                        <div class="module-title"><strong class="h3">HQ</strong>
                        </div>
                        <div class="module-footer mobile-hide"><a href="https://yandex.ru/maps/org/148285824893
                            " target="_blank" class="btn btn-primary">See on map<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                        </div>
                    </div>
                <div class="grid-column">
                    <div class="module-details">
                        <div class="module-details__item"><strong class="module-details__headline">QIWI Blockchain Technologies</strong>
                            <div class="module-details__description">
                                <p><a href="mailto:info@qiwi.tech">info@qiwi.tech</a>
                                </p>
                                <p>{{ .Site.Params.phone }}</p>
                                <p>{{ .Site.Params.address }}</p>
                            </div>
                        </div>
                        <!--
                        <div class="module-details__item"><strong class="module-details__headline">Cопровождение клиентов</strong>
                            <div class="module-details__description">
                                <p><a href="mailto:support@qiwi.tech">support@qiwi.tech</a>
                                </p>
                                <p>{{ .Site.Params.phone }}</p>
                                <p>10:00 — 18:00 мск</p>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="module-media">
                        <img src="/images/content/about_hq.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-contacts__body">
            <div class="module-entry js_animate">
                <p>
                        {{ .Site.Params.slogan_long_alter2 }}
                </p>
            </div>
        </div>
    </div>
</div>