<div class="section section-choice">
    <div class="container js_animate">
        <div class="section-choice__note">
            <p>EXPLORE</p>
        </div>
        <div class="grid-row">
            <div class="grid-column">
                <nav class="menu-default"><a href="" data-scroll="#section-1" class="menu-default__link">Blockchain & DLT<span class="menu-default__label">01</span><span style="background-image: url(assets/images/sections/services/thumbnails/service-1.jpg)" class="menu-default__img"></span></a>
                    <a
                        href="" data-scroll="#section-2" class="menu-default__link">STO & ICO<span class="menu-default__label">02</span><span style="background-image: url(assets/images/sections/services/thumbnails/service-2.jpg)" class="menu-default__img"></span>
                            </a><a href="" data-scroll="#section-3" class="menu-default__link">Education & Social Projects<span class="menu-default__label">03</span><span style="background-image: url(assets/images/sections/services/thumbnails/service-3.jpg)" class="menu-default__img"></span></a>
                </nav>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>We provide technological, project, and consulting services, expertly tailoring solutions that help digitize business processes via distributed ledger and blockchain technologies. Our team counts some of the most experienced professionals in IT development. Our wealth of experience and unsurpassed expertise allow us to bring together cutting-edge technologies and a wide range of industries.</p>
                </div>
            </div>
        </div>
    </div>
</div>