<div class="section section-main">
    <div class="section-main__panel">
        <div class="container">
            <div class="section-main__inner">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="section-main__head">
                            <h1 class="h4">{{ .Title }}</h1>
                        </div>
                    </div>
                    <div class="grid-column grid-column_space">
                        <div class="section-main__body">
                            <div class="section-main__description">
                                <p>Development of digital platforms using blockchain and DLT solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-main__media">
            <div class="section-main__poster">
                <video muted autoplay playsinline class="section-main__video">
                    <source src="/videos/figures-success.mp4" type="video/mp4">
                </video>
            </div>
        </div>
</div>