<div id="section-3" class="section section-service section_primary">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title js_animate">
                    <a name="study"></a>
                    <strong class="h3">03. Обучение и социальные проекты</strong>
                </div><a href="/projects/#section-3" class="btn btn-primary">выполненные проекты<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                <div class="module-note mobile-hide js_animate">
                    <p>
                            Свяжитесь с нами:
                        <br>{{ .Site.Params.phone }}</p>
                    <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                    </p>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content js_animate">
                    <p>Мы помогаем прийти к полному пониманию устройства блокчейна, криптовалют, токенов и новых технологических экосистем.</p>
                </div>
                <div class="module-table">
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Теория и основы блокчейна и DLT</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Основы смарт-контрактов</p>
                        </div>
                    </div>
                    <div class="module-table__row">
                        <div class="module-table__cell">
                            <p>Криптовалюты и ICO-грамотность: базовые принципы работы</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Индивидуальные курсы по применению блокчейна в компании клиента</p>
                        </div>
                    </div>
                    <div class="module-table__row">
                            <div class="module-table__cell">
                                <p>Мы также помогаем имплементировать технологию блокчейн в основу социальных проектов.</p>
                            </div>
                        </div>
                </div>
                <div class="module-note mobile-show js_animate">
                        <p>
                                Свяжитесь с нами:
                            <br>{{ .Site.Params.phone }}</p>
                        <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                        </p>
                    </div>
            </div>
        </div>
        
    </div>
</div>