<div id="section-2" class="section section-service">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title js_animate">
                    <a name="ico"></a>
                    <strong class="h3">02. ICO: технический консалтинг</strong>
                </div><a href="/ru/projects/#section-2" class="btn btn-primary">выполненные проекты<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                <div class="module-note  mobile-hide js_animate">
                    <p>
                        Связаться с нами:
                        <br>{{ .Site.Params.phone }}</p>
                    <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                    </p>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>
                            ICO (Initial Coin Offering, или первичное размещение токенов) — это относительно новая, но бурно развивающаяся форма привлечения инвестиций, во время которой коммерческая компания либо частное лицо продает цифровые активы или токены, предполагающие получение инвестором определенной выгоды в будущем. Как правило, ICO проводится на начальном этапе развития проекта, а вырученные средства направляются на реализацию идеи или маркетинг. Объем мирового рынка ICO составил $6,6 млрд в 2017 году и достиг $9,1 млрд к июню 2018 года, по оценке Autonomous Next.
                            </p>
                </div>
                <div class="module-table">
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Технический консалтинг:</p>
                            <ul>
                                <li>написание и аудит смарт-контракта;</li>
                                <li>создание целевой страницы и личного кабинета пользователя;</li>
                                <li>обеспечение информационной безопасности.</li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="module-note mobile-show js_animate">
                        <p>
                            Связаться с нами:
                            <br>{{ .Site.Params.phone }}</p>
                        <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                        </p>
                    </div>
            </div>
        </div>

    </div>
</div>