<div id="section-2" class="section section-service">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title js_animate">
                    <a name="ico"></a>
                    <strong class="h3">02. ICO: Technical Consulting</strong>
                </div><a href="/projects/#section-2" class="btn btn-primary">Case studies<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                <div class="module-note  mobile-hide js_animate">
                    <p>
                        Contact us:
                        <br>{{ .Site.Params.phone }}</p>
                    <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                    </p>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>
                            An ICO (Initial Coin Offering) is a relatively novel but rapidly maturing fundraising mechanism in which a commercial company or private party sells digital assets or tokens. Investors hope that these assets will perform well in the future, providing them with a return on their investment. It is very common to run an ICO at the project’s initial stage, with the raised funds being allocated for concept development or promotion. The total value of the ICO market was $6.6 billion in 2017 and reached $9.1 billion by June 2018 (according to Autonomous Next).
                            </p>
                </div>
                <div class="module-table">
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Technical consulting:</p>
                            <ul>
                                <li>Writing and audit of smart contracts</li>
                                <li>Creation of a landing page and user dashboard</li>
                                <li>Ensuring information security</li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="module-note mobile-show js_animate">
                        <p>
                            Contact us:
                            <br>{{ .Site.Params.phone }}</p>
                        <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                        </p>
                    </div>
            </div>
        </div>

    </div>
</div>