<div id="section-2" class="section section-service section_primary">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title js_animate">
                    <a name="study"></a>
                    <strong class="h3">02. Education & Social Projects</strong>
                </div><a href="/projects/#section-2" class="btn btn-primary">CASE STUDIES:<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                <div class="module-note mobile-hide js_animate">
                    <p>
                            Contact us:
                        <br>{{ .Site.Params.phone }}</p>
                    <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                    </p>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content js_animate">
                    <p>We help you develop a deep understanding of blockchain technology, cryptocurrencies, tokens, and new technology ecosystems.</p>
                </div>
                <div class="module-table">
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Blockchain & DLT: General background</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Smart contracts: General background</p>
                        </div>
                    </div>
                    <div class="module-table__row">
                        <div class="module-table__cell">
                            <p>Individual courses on incorporating blockchain technology in the customer’s company</p>
                        </div>
                        <div class="module-table__cell">
                            <p>We also assist in developing blockchain-based social projects.</p>
                        </div>
                    </div>
                </div>
                <div class="module-note mobile-show js_animate">
                        <p>
                                Contact us:
                            <br>{{ .Site.Params.phone }}</p>
                        <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                        </p>
                    </div>
            </div>
        </div>
        
    </div>
</div>