<div id="section-1" class="section section-service section_primary">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title js_animate">
                    <a name="blck"></a>
                    <strong class="h3">01. Разработка и консалтинг</strong>
                    
                </div><a href="/ru/projects/#section-1" class="btn btn-primary">выполненные проекты<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                <div class="module-note mobile-hide js_animate">
                    <p>
                        Связаться с нами:
                        <br>{{ .Site.Params.phone }}</p>
                    <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                    </p>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>Наши специалисты тщательно анализируют ваши бизнес-процессы и предлагают индивидуальные блокчейн-решения, которые помогают компании получить дополнительные преимущества за счет цифровизации активов, повысить эффективность обмена данными и безопасность транзакций.</p>
                </div>
                <div class="module-table">
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Комплексный анализ бизнес-процессов и IT-систем с точки зрения целесообразности перехода на блокчейн и DLT</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Предложения по использованию блокчейна и DLT</p>
                        </div>
                    </div>
                    <div class="module-table__row">
                        <div class="module-table__cell">
                            <p>Тестирование внедрения технологии</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Разработка стратегии внедрения технологии</p>
                        </div>
                    </div>
                    <div class="module-table__row">
                        <div class="module-table__cell">
                            <p>Реализация MVP</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Реализация промышленной версии</p>
                        </div>
                    </div>
                </div>
                <div class="module-note mobile-show js_animate">
                        <p>
                            Связаться с нами:
                            <br>{{ .Site.Params.phone }}</p>
                        <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                        </p>
                    </div>
            </div>
        </div>

    </div>
</div>