<div id="section-1" class="section section-service section_primary">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title js_animate">
                    <a name="blck"></a>
                    <strong class="h3">01. Consulting and Development</strong>
                    
                </div><a href="/projects/#section-1" class="btn btn-primary">CASE STUDIES<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                <div class="module-note mobile-hide js_animate">
                    <p>
                        Contact us:
                        <br>{{ .Site.Params.phone }}</p>
                    <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                    </p>
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>Our experts meticulously analyze your business processes and offer tailored blockchain solutions allowing you to get extra benefits due to asset digitization, and to boost efficiency of data exchange and security of transactions.</p>
                </div>
                <div class="module-table">
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Comprehensive analysis of business processes and IT systems from the angle of feasibility of incorporating blockchain and DLT</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Proposals for using blockchain and DLT</p>
                        </div>
                    </div>
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>Testing the technology</p>
                        </div>
                        <div class="module-table__cell">
                            <p>Development of a technology implementation strategy</p>
                        </div>
                    </div>
                    <div class="module-table__row js_animate">
                        <div class="module-table__cell">
                            <p>MVP implementation</p>
                        </div>
                        <div class="module-table__cell">
                          <p>Implementation of the industrial version</p>
                      </div>
                    </div>
                </div>
                <div class="module-note mobile-show js_animate">
                        <p>
                            Contact us:
                            <br>{{ .Site.Params.phone }}</p>
                        <p><a href="mailto:info@qiwi.tech">info@qiwi.tech	</a>
                        </p>
                    </div>
            </div>
        </div>

    </div>
</div>