<div class="section section-feedback">
        <div class="container">
            <a name="feedback"></a>
            <div class="section-feedback__inner">
                <div class="grid-row">
                    <div class="grid-column grid-column_space">
                        
                        <strong class="h3"> Contact us</strong>
                        <div class="section-feedback__description">
                            <p>
                                {{ .Site.Params.slogan_long }}    
                            </p>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-info">
                            <div class="module-info__column">
                                <p>
                                    <a href="mailto:{{ .Site.Params.email }}">
                                        <svg class="icon icon-square">
                                            <use xlink:href="#icon-square"></use>
                                        </svg>{{ .Site.Params.email }}</a>
                                </p>
                            </div>
                            <div class="module-info__column">
                                <p>{{ .Site.Params.phone }}</p>
                            </div>
                        </div>
                        
                        <form name="qbtsite" method="POST" class="form-style" id="qbtform">
                            <div class="form-style__row">
                                <div class="form-group">
                                    <input type="text" required class="form-control" name="name">
                                    <label class="form-label">Name *</label>
                                </div>
                            </div>
                            <div class="form-style__row">
                                <div class="form-group">
                                    <input type="email" required class="form-control" name="email">
                                    <label class="form-label">Email *</label>
                                </div>
                            </div>
                            <div class="form-style__row">
                                <div class="form-group">
                                    <input type="text" required class="form-control" name="company">
                                    <label class="form-label">Company *</label>
                                </div>
                            </div>
                            <div class="form-style__row">
                                <div class="form-group">
                                    <textarea required class="form-control" name="message"></textarea>
                                    <label class="form-label">Message *</label>
                                </div>
                            </div>
                            <div class="form-style__footer">
                                <input type="submit" value="Send" class="btn btn-default">
                            </div>
                        </form>
                        <div class="thank-you thank-you__text" id="formsent">
                            <div class="thank-you__head">
                                <p>Your message has been sent successfully! We will contact you in the nearest future.</p>
                            </div>
                            <div class="thank-you__body">
                                <p>The copy of your application has been sent to your email.</p>
                            </div>
                        </div>
                        <div class="thank-you thank-you__text" id="formerror">
                            <div class="thank-you__head">
                                <p>Your message has not been send. Please try again later.</p>
                            </div>
                            <div class="thank-you__body">
                                <p>It looks like something went wrong. We were unable to send your message.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>