<div class="section section-feedback">
        <div class="container">
            <a name="feedback"></a>
            <div class="section-feedback__inner">
                <div class="grid-row">
                    <div class="grid-column grid-column_space">
                        
                        <strong class="h3"> Свяжитесь с нами</strong>
                        <div class="section-feedback__description">
                            <p>
                                {{ .Site.Params.slogan_long }}    
                            </p>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-info">
                            <div class="module-info__column">
                                <p>
                                    <a href="mailto:{{ .Site.Params.email }}">
                                        <svg class="icon icon-square">
                                            <use xlink:href="#icon-square"></use>
                                        </svg>{{ .Site.Params.email }}</a>
                                </p>
                            </div>
                            <div class="module-info__column">
                                <p>{{ .Site.Params.phone }}</p>
                            </div>
                        </div>
                        
                        <form name="qbtsite" method="POST" class="form-style" id="qbtform">
                            <div class="form-style__row">
                                <div class="form-group">
                                    <input type="text" required class="form-control" name="name">
                                    <label class="form-label">Имя *</label>
                                </div>
                            </div>
                            <div class="form-style__row">
                                <div class="form-group">
                                    <input type="email" required class="form-control" name="email">
                                    <label class="form-label">Email *</label>
                                </div>
                            </div>
                            <div class="form-style__row">
                                <div class="form-group">
                                    <input type="text" required class="form-control" name="company">
                                    <label class="form-label">Компания *</label>
                                </div>
                            </div>
                            <div class="form-style__row">
                                <div class="form-group">
                                    <textarea required class="form-control" name="message"></textarea>
                                    <label class="form-label">Ваше сообщение *</label>
                                </div>
                            </div>
                            <div class="form-style__footer">
                                <input type="submit" value="Отправить" class="btn btn-default">
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="grid-row grid-row_end">
                    <div class="grid-column">
                        <div class="thank-you thank-you__text">
                            <div class="thank-you__head">
                                <p>Сообщение отправлено. Мы свяжемся с вами, как можно раньше. Спасибо!</p>
                            </div>
                            <div class="thank-you__body">
                                <p>Мы отправили копию обращения на ваш email.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>