<div class="section section-projects">
    <div class="container">
        <div class="section-projects__head">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title"><strong class="h3">Portfolio</strong>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-content">
                        <p>We are chosen by companies from a wide range of industries, for each of which we develop a tailored solution. Blockchain and DLT, technical consulting, product and prototype development are but a small fraction of our services that create additional business value through technology.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-projects__body">
            <div class="module-info">
                <div class="module-info__column">
                    <svg class="icon icon-square">
                        <use xlink:href="#icon-square"></use>
                    </svg><a href="/projects">15+ projects</a></div>
            </div>
        </div>
    </div>
</div>