<div class="section section-services">
        <div class="container">
            <div class="grid">
                <div class="grid-row js_animate">
                    <div class="grid-column">
                        <div class="module-title"><strong class="h3">Services</strong>
                        </div>
                    </div>
                    <div class="grid-column">
                        <nav class="menu-primary"><a href="/services/#section-1" class="menu-primary__link">Blockchain &
                            <div class="menu-primary__line">DLT
                            <span class="menu-primary__label">view more</span></div></a><a href="/services/#section-2" class="menu-primary__link">Education & Social
                            <span class="menu-primary__label">view more</span></a>
                                                           </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>