<div style="background-image: url(/images/background/round-black-large.jpg)" class="section section-about section_primary">
    <div class="container js_animate">
        <div class="section-about__head">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title"><strong class="h3">About us</strong>
                    </div>
                    <div class="module-footer mobile-hide"><a href="/about/" class="btn btn-primary">See more<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-content">
                        <p>QIWI Blockchain Technologies offers solutions to digitize business processes via distributed ledger and blockchain technologies. Our wealth of experience and unsurpassed expertise allow us to bring together cutting-edge technologies and a wide range of industries.</p>
                        <p>Our team counts some of the most experienced professionals in IT development.</p>
                    </div>
                </div>
            </div>
            <div class="module-footer mobile-show"><a href="/about/" class="btn btn-primary">See more<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
            </div>
        </div>
        <div class="section-about__body">
            <div class="module-media">
                <div style="background-image: url(/videos/preview/figures-4.jpg)" class="module-media__poster">
                    <video muted autoplay playsinline class="module-media__video">
                        <source src="/videos/figures-4.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

        </div>
        <div class="section-about__footer">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title"><strong class="h3">Personalized Approach</strong>
                    </div>
                    <!--
                    <div class="module-footer mobile-hide"><a href="#" class="btn btn-primary">Cкачать презентацию<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                    -->
                </div>
                <div class="grid-column">
                    <div class="module-content">
                        <p>
                            We develop turn-key solutions relevant for specific industries and companies. We carefully examine your project and craft a unique blockchain strategy and product tailored to each particular case. 
                            </p><p>
                            Working in-sync with the client, we jointly create new technology values for their business. We walk step-by-step through the entire process, from assessing the feasibility of incorporating blockchain technology and DLT to developing a prototype to testing and adjusting the implementation strategy to carrying out the project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>