<div class="section section-industry">
        <div class="container">
            <div class="section-industry__head">
                <div class="grid-row js_animate">
                    <div class="grid-column grid-column_space">
                        <div class="module-title"><strong class="h3">Решения по индустриям</strong>
                        </div>
                        <div class="module-footer mobile-hide"><a href="/solutions/" class="btn btn-primary">Подробнее<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-content">
                            <p>
                                    {{ .Site.Params.slogan_long }} 
                            </p>
                        </div>
                        <div class="module-footer mobile-show"><a href="/solutions/" class="btn btn-primary">Подробнее<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                        </div>
                        <div class="module-info">
                            <div class="module-info__column">
                                <p>
                                    <svg class="icon icon-square">
                                        <use xlink:href="#icon-square"></use>
                                    </svg>2015 год основания</p>
                            </div>
                            <div class="module-info__column">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-industry__body">
                <div class="module-media">
                    <div style="background-image: url(/videos/preview/figures-secondary.jpg)" class="module-media__poster">
                        <video muted autoplay playsinline class="module-media__video">
                            <source src="/videos/figures-secondary.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>