<div class="section section-statistics">
        <div class="container js_animate">
            <div class="section-statistics__head">
                <div class="grid-row js_animate">
                    <div class="grid-column">
                        <div class="module-head"><strong class="h3">Более $50 млрд.<span class="indicator"></span></strong>
                        </div>
                        <div class="module-info">
                            <div class="module-info__column">
                                <p>
                                    <svg class="icon icon-square">
                                        <use xlink:href="#icon-square"></use>
                                    </svg>годовой оборот компаний, с которыми мы работаем</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="module-head"><strong class="h3">402 501 000</strong>
                        </div>
                        <div class="module-info">
                            <div class="module-info__column">
                                <p>
                                    <svg class="icon icon-square">
                                        <use xlink:href="#icon-square"></use>
                                    </svg>выпущено токенов для наших клиентов
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-statistics__body">
                <div class="module-media">
                    <div style="background-image: url(/videos/preview/figures-info.jpg)" class="module-media__poster">
                        <video muted autoplay playsinline class="module-media__video">
                            <source src="/videos/5.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>