<div class="section section-info section_primary">
        <div class="container">
            <div class="grid-row js_animate">
                <div class="grid-column">
                    <div class="module-content module-content_primary">
                        <p>
                            {{ .Site.Params.slogan_short }} 
                        </p>
                    </div>
                </div>
                <div class="grid-column">
                    <nav class="menu-primary"><a href="/about/" class="menu-primary__link">QIWI
<span class="menu-primary__label">О нас</span></a><a href="/services/" class="menu-primary__link">Blockchain
<span class="menu-primary__label">Услуги</span></a><a href="/projects/" class="menu-primary__link">Technologies
<span class="menu-primary__label">Проекты</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>