<div class="section section-main">
    <div class="section-main__panel">
        <div class="container">
            <div class="section-main__inner hide_line">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="section-main__head">
                            <h1 class="h4"></h1>
                        </div>
                    </div>
                    <div class="grid-column grid-column_space">
                        <div class="section-main__body">
                            <div class="section-main__description">
                                <p>Консалтинг, разработка, внедрение
                                    блокчейн и
                                    DLT в ваш бизнес</p>
                            </div>
                        </div>
                        <div class="section-main__footer">
                            <ul class="list-inline">
                                <li>10+ проектов</li>
                                <li>6+ индустрий</li>
                                <li>30+ человек</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-main__media">
            <div style="background-image: url(/images/background/figures-default.jpg)" class="section-main__poster">
                <video muted autoplay playsinline class="section-main__video">
                    <source src="/videos/figures-default.mp4" type="video/mp4">
                </video>
            </div>
        </div>
</div>