<div class="section section-audit">
        <div class="container">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="section-audit__body">
                        <div class="module-content module-content_md">
                            <p>Request an audit of your smart contract to identify vulnerabilities, review business logic, and verify the conformity with regulations in the country of interest.</p>
                        </div>
                        <!--
                        <div class="section-audit__button">
                            <a href="http://audit.qdlt.io" class="btn btn-round">
                                <svg class="icon icon-next">
                                    <use xlink:href="#icon-next"></use>
                                </svg>
                            </a>
                        </div>
                        -->
                    </div>
                    <div class="module-footer mobile-hide"><a href="#feedback" class="btn btn-primary">contact us<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-head">
                            <a href="http://audit.qdlt.io/en" target="_blank">
                                <strong class="h3">Smart Contract Audit</strong>
                            </a>
                    </div>
                    <div class="module-info">
                        <div class="module-info__column">
                            <p>
                                <svg class="icon icon-square">
                                    <use xlink:href="#icon-square"></use>
                                </svg>10 days</p>
                        </div>
                        <!--
                        <div class="module-info__column">
                            <p>Самая высокая экспертиза в подготовке компаний к ICO</p>
                        </div>
                        -->
                    </div>
                    <div class="module-media">
                        <a href="http://audit.qdlt.io/en" target="_blank">
                        <img src="/images/sections/audit/figures.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>