<div class="section section-audit">
        <div class="container">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="section-audit__body">
                        <div class="module-content module-content_md">
                            <p>Закажите аудит
                                <a href="/wiki/#wiki-44">смарт-контрактов</a> для выявления уязвимости, проверки бизнес-логики и соответствия нормативным документам в интересующих вас странах.</p>
                        </div>
                        <!--
                        <div class="section-audit__button">
                            <a href="http://audit.qdlt.io" class="btn btn-round">
                                <svg class="icon icon-next">
                                    <use xlink:href="#icon-next"></use>
                                </svg>
                            </a>
                        </div>
                        -->
                    </div>
                    <div class="module-footer mobile-hide"><a href="#feedback" class="btn btn-primary">свяжитесь с нами<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-head">
                            <a href="http://audit.qdlt.io/" target="_blank">
                                <strong class="h3">Аудит смарт-контракта</strong>
                            </a>
                    </div>
                    <div class="module-info">
                        <div class="module-info__column">
                            <p>
                                <svg class="icon icon-square">
                                    <use xlink:href="#icon-square"></use>
                                </svg>10 дней</p>
                        </div>
                        <!--
                        <div class="module-info__column">
                            <p>Самая высокая экспертиза в подготовке компаний к ICO</p>
                        </div>
                        -->
                    </div>
                    <div class="module-media">
                        <a href="http://audit.qdlt.io/" target="_blank">
                        <img src="/images/sections/audit/figures.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>