<div style="background-image: url(/images/background/round-black-large.jpg)" class="section section-about section_primary">
    <div class="container js_animate">
        <div class="section-about__head">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title"><strong class="h3">О нас</strong>
                    </div>
                    <div class="module-footer mobile-hide"><a href="/ru/about/" class="btn btn-primary">Подробнее<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-content">
                        <p>QIWI Blockchain Technologies проводит цифровую трансформацию бизнеса с применением блокчейн-решений.</p>
                        <p>Мы создаем преимущества для бизнеса с помощью блокчейн и DLT решений и интеграции их в глобальные инфраструктуры.</p>
                        <p>Наши знания и опыт позволяют объединять революционные технологии c индустриями и отраслями.</p>
                        <p>Команда QIWI Blockchain Technologies — одна из самых опытных в этой области разработки.</p>
                    </div>
                </div>
            </div>
            <div class="module-footer mobile-show"><a href="/ru/about/" class="btn btn-primary">Подробнее<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
            </div>
        </div>
        <div class="section-about__footer">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title"><strong class="h3">Персональный подход</strong>
                    </div>
                    <!--
                    <div class="module-footer mobile-hide"><a href="#" class="btn btn-primary">Cкачать презентацию<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                    -->
                </div>
                <div class="grid-column">
                    <div class="module-content">
                        <p>
                            Мы создаем готовые решения, релевантные конкретным индустриям и компаниям. Мы внимательно изучаем проект и с учетом его специфики разрабатываем уникальную блокчейн-стратегию и продукт. 
                            </p><p>
                            Вместе с клиентом мы создаем новые технологические ценности для бизнеса —   создание его новой стоимости и повышения эффективности. Шаг за шагом мы проходим весь процесс: анализируем целесообразность и эффективность перехода на блокчейн и DLT, разрабатываем прототип, тестируем внедрение технологии, стратегию ее имплементации, реализуем проект.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>