    <div class="section section--s4 section--scroll section--overlay" id="news">
        <div class="section-in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3"><div class="s-title">Новости</div></div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-7">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img2.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Nemo enim ipsam quia voluptatem voluptas sit aspernatur</a>
                                </div>
                                <div class="news-article__date">10 октября 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img1.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</a>
                                </div>
                                <div class="news-article__date">21 сентября 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-6">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img3.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a>
                                </div>
                                <div class="news-article__date">8 августа 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img2.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Nemo enim ipsam quia voluptatem voluptas sit aspernatur</a>
                                </div>
                                <div class="news-article__date">10 октября 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-7">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img1.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</a>
                                </div>
                                <div class="news-article__date">21 сентября 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img3.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Nemo enim ipsam quia voluptatem voluptas sit aspernatur</a>
                                </div>
                                <div class="news-article__date">10 октября 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-6">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img2.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a>
                                </div>
                                <div class="news-article__date">8 августа 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="news-article">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img1.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Nemo enim ipsam quia voluptatem voluptas sit aspernatur</a>
                                </div>
                                <div class="news-article__date">10 октября 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-7">
                        <div class="news-article mb-0">
                            <div class="news-article__img grayscale"><a href="#"><img src="img/news/img3.png"></a></div>
                            <div class="news-article__content">
                                <div class="news-article__title">
                                    <a href="#">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</a>
                                </div>
                                <div class="news-article__date">21 сентября 2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>