    <div class="section section--s1 active" id="about">
        <div id="scene" class="scene">
            <div class="scene-item scene-item--s1" data-depth="0.15"></div>
            <div class="scene-item scene-item--s2" data-depth="0.3"></div>
            <div class="scene-item scene-item--s3" data-depth="0.4"></div>
            <div class="scene-item scene-item--s4" data-depth="0.5"></div>
            <div class="scene-item scene-item--s5" data-depth="0.6"></div>
        </div>
        <div class="section-in vertical-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3"><div class="s-title">Компания</div></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3">
                        <p class="p-s1"> 
                            
                            QIWI Blockchain Technologies (QBT) <br>
                            технологическая компания, специализирующаяся<br>
                            на разработке цифровых блокчейн-стратегий,  <br>
                            решений на основе блокчейн, а также <br>
                             на предоставлении консультационных услуг<br>
                             по обучению, внедрению и адаптации технологии.

                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="p-s1">

                            QBT входит в Группу QIWI (NASDAQ: QIWI, MOEX:<br>
                            QIWI), управляющей ведущим платежным сервисом<br>
                            нового поколения в России и странах СНГ.<br>
                            Группа QIWI участник международных блокчейн-<br>
                            консорциумов R3 (R3 CEV LLC) и Enterprise Ethereum<br>
                            Alliance (EEA).

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>