	<div class="section section--s6 section--overlay" id="contacts">
		<div class="section-in vertical-middle">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="s-title">Контакты</div>
						<div class="contacts-box">
							<!--
							<span><a href="tel:84957835959" target="_blank" class="link-phone">+7 495 783-59-59</a></span>
							<span>(доб. 7260)</span>
							-->
							<span><a href="mailto:info@qiwitech.ru" target="_blank"><b>info@qiwitech.ru</b></a></span>
						</div>
						<div class="contacts-box">
							<a href="https://yandex.ru/maps/-/CBaHi8dVhD" target="_blank">Россия, 115114, г. Москва,<br> Шлюзовая наб., д. 4</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>