    <footer class="footer">
        <div class="footer-in">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <ul class="main-nav hover-e1-wrap js-main-animate">
                        <li><a href="#news">Новости</a></li>
                        <li><a href="#team">Команда</a></li>
                        <li><a href="#contacts" class="no-main-animate js-show-contacts">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="logo"><img src="img/logo-alt.svg" alt="QIWI Blockchain Technologies"></div>
                </div>
            </div>
        </div>
        <div class="section-contacts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo js-main-animate"><a href="#about"><img src="img/logo.svg" alt="QIWI Blockchain Technologies"></a></div>
                        <div class="copyright">© 2017. QBT</div>
                    </div>
                    <div class="col-sm-4">
                        <ul class="menu-s2 js-main-animate">
                            <li><a href="#about" class="active">О компании</a></li>
                            <li><a href="#services">Услуги</a></li>
                            <li><a href="#projects">Проекты</a></li>
                        </ul>
                        <ul class="menu-s2 js-main-animate">
                            <li><a href="#news">Новости</a></li>
                            <li><a href="#team">Команда</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="contacts-box">
                            <span><b>Контакты:</b></span>
                            <!--
                            <span><a href="tel:84957835959" target="_blank" class="link-phone">+7 495 783-59-59</a></span>
                            <span>(доб. 7260)</span>
                            -->
                            <span><a href="mailto:info@qiwitech.ru" target="_blank"><b>info@qiwitech.ru</b></a></span>
                        </div>
                        <div class="contacts-box">
                            <a href="https://yandex.ru/maps/-/CBaHi8dVhD" target="_blank">Россия, 115114, г. Москва,<br> Шлюзовая наб., д. 4</a>
                        </div>
                    </div>
                    <div class="col-sm-1 text-right">
                        <ul class="social-media">
                            <li><a href="https://www.facebook.com/qiwitech/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>