    <header class="header">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo js-main-animate"><a href="#about"><img src="img/logo.svg" alt="QIWI Blockchain Technologies"></a></div>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="main-nav hover-e1-wrap js-main-animate">
                    <li><a href="#about" class="active">Компания</a></li>
                    <li><a href="#services">Услуги</a></li>
                    <li><a href="#projects">Проекты</a></li>
                    <!--
                    <li class="lang-link"><a href="#">En</a></li>
                    -->
                </ul>
            </div>
        </div>
    </header>