    <div class="section section--s4 section--scroll section--overlay" id="news">
        <div class="section-in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3"><div class="s-title">Новости</div></div>
                </div>
                <div class="row">
                        
                        {{ range $i,$p := where .Data.Pages.ByDate.Reverse "Type" "News" }}

                            {{if not (modBool $i 2)}}

                            <div class="col-sm-5 col-sm-offset-7">
                                <div class="news-article">
                                    <div class="news-article__img grayscale"><a href="#"><img src="img/news/img3.png"></a></div>
                                    <div class="news-article__content">
                                        <div class="news-article__title">
                                            <a href="#">{{.Title}}</a>
                                        </div>
                                        <div class="news-article__date">{{.Date.Format "2 January 2006"}}</div>
                                    </div>
                                </div>
                            </div>

                            {{else}}

                            <div class="col-sm-5 col-sm-offset-1">
                                    <div class="news-article">
                                        <div class="news-article__img grayscale"><a href="#"><img src="img/news/img3.png"></a></div>
                                        <div class="news-article__content">
                                            <div class="news-article__title">
                                                <a href="#">{{.Title}}</a>
                                            </div>
                                            <div class="news-article__date">{{.Date.Format "2 January 2006"}}</div>
                                        </div>
                                    </div>
                                </div>

                            {{end}}

                        {{ end }}

                </div>
            </div>
        </div>
    </div>