    <div class="section section--s3 section--overlay" id="projects">
        <div class="section-in vertical-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-5 col-lg-offset-6"><div class="s-title">Проекты</div></div>
                </div>
                <div class="row mb-slick">
                    <div class="col-sm-4 col-md-4 col-lg-3 col-lg-offset-2">
                        <div class="box-s1 box-s1--s3">
                            <div class="box-s1__number box-s1__number--on-line">01</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Мастерчейн</div>
                                <p class="p-s1">QBT является одним из ведущих<br>
                                    консультантом в разработке<br>
                                    децентрализованной сети<br>
                                    обмена и хранения информации<br>
                                    «Мастерчейн»</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3">
                        <div class="box-s1">
                            <div class="box-s1__number">02</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Распределенный процессинг</div>
                                <p class="p-s1">QBT разрабатывает<br>
                                    распределенный<br>
                                    процессинг платежей<br>
                                    для различных внутренних<br>
                                    и внешних заказчиков</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="box-s1 box-s1--s4">
                            <div class="box-s1__number box-s1__number--on-line">03</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Логистика</div>
                                <p class="p-s1">
                                        QBT разрабатывает систему управления <br>
                                        грузоперевозками водным транспортом на <br>
                                        технологии блокчейн для Морсвязьспутник</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-obj section-obj--running-man">
            <div class="track-list">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="slick-dots-wrap"></div>
    </div>
