    <div class="section section--s2 section--overlay" id="services">
        <div class="section-in vertical-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6"><div class="s-title">Услуги</div></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-2">
                        <div class="box-s1 box-s1--s1">
                            <div class="box-s1__number">01</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Аутсорс IT-решений<br> на блокчейн</div>
                                <p class="p-s1">Реализация и консалтинг<br>
                                    блокчейн-проектов<br>
                                    в контуре бизнес-процессов<br>
                                    и деятельности внешних<br>
                                заказчиков</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-s1 box-s1--s2">
                            <div class="box-s1__number">02</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Обучающие курсы<br> по блокчейн</div>
                                <p class="p-s1">Проведение обучающих<br>
                                    курсов по теории блокчейн,<br>
                                    криптовалютам, смарт-<br>
                                контрактам и другим темам</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-s1">
                            <div class="box-s1__number">03</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Аудит IT-систем</div>
                                <p class="p-s1">Комплексный аудит компетенций<br>
                                    IT-подразделений и валидация<br>
                                    организационной структуры,<br>
                                    комплексный аудит IT-задач<br>
                                    и процессов на готовность<br>
                                к переходу на блокчейн</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-obj section-obj--car">
            <div class="track-list">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>