    <div class="section section--s2 section--overlay" id="services">
        <div class="section-in vertical-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-5 col-lg-offset-6"><div class="s-title">Услуги</div></div>
                </div>
                <div class="row mb-slick">
                    <div class="col-sm-4 col-md-4 col-lg-3 col-lg-offset-2">
                        <div class="box-s1 box-s1--s1">
                            <div class="box-s1__number">01</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Аутсорс IT-решений<br> на блокчейн</div>
                                <p class="p-s1">Реализация и консалтинг<br>
                                    блокчейн-проектов<br>
                                    в контуре бизнес-процессов<br>
                                    и деятельности внешних<br>
                                заказчиков</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3">
                        <div class="box-s1 box-s1--s2">
                            <div class="box-s1__number">02</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Обучающие курсы<br> по блокчейн</div>
                                <p class="p-s1">Проведение обучающих<br>
                                    курсов по теории блокчейн,<br>
                                    криптовалютам, смарт-<br>
                                контрактам и другим темам</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="box-s1">
                            <div class="box-s1__number box-s1__number--on-line">03</div>
                            <div class="box-s1__text">
                                <div class="box-s1__title">Создание блокчейн-стратегий для трансформации бизнеса</div>
                                <p class="p-s1">
                                        Комплексный аудит компетенций<br>
                                        IT-подразделений, их задач. Валидация<br>
                                        организационной структуры, бизнес-процессов <br>
                                        для создания добавленной ценности <br>
                                        через переход на новые технологии
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-obj section-obj--car">
            <div class="track-list">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="slick-dots-wrap"></div>
    </div>
