    <div class="section section--s5 section--scroll section--overlay" id="team">
        <div class="section-in">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-2 col-lg-offset-3"><div class="s-title">Команда</div></div>
                </div>
                <div class="row mb-slick-t2">
                    <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
                        <div class="team-item">
                            <div class="team-item__img">
                                <img src="img/team/img1.png">
                            </div>
                            <div class="team-item__content">
                                <div class="team-item__fio">Алексей Архипов</div>
                                <div class="team-item__desc-alt">Управляющий проектом QBT.</div>
                                <div class="team-item__desc">Управляющий проектом QBT. Директор по развитию криптотехно- логий в QIWI, один из создателей проекта “Битрубль". Входит в ТОП 20 лиц российской блокчейн-индустрии. Руководитель рабочей группы Ассоциации ФинТех по распределенным реестрам. Руководитель проекта «Мастерчейн». 12+ лет работы в IT, 5+ лет в блокчейн- <br>технологии.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7">
                        <div class="team-item team-item--s2">
                            <div class="team-item__img">
                                <img src="img/team/img2.png">
                            </div>
                            <div class="team-item__content">
                                <div class="team-item__fio">Алексей Соловьев</div>
                                <div class="team-item__desc-alt">Генеральный проектом QBT.</div>
                                <div class="team-item__desc">Генеральный директор QBT. C 2015 года занимается блокчейн- проектами в QIWI. Участвовал в разработке проекта Битрубль, ЦУПИС, QIWI Бонус. 17+ лет работы в IT.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-4">
                        <div class="team-item team-item--s3">
                            <div class="team-item__img">
                                <img src="img/team/img3.png">
                            </div>
                            <div class="team-item__content">
                                <div class="team-item__fio">Дмитрий Аполлонов</div>
                                <div class="team-item__desc-alt">Технический проектом QBT.</div>
                                <div class="team-item__desc">Технический директор QBT. Участвовал в создании процессинга платежных транзакций QIWI, разработке терминального ПО walli.com. Является менеджером проекта по развитию розничного пространства Ассоциации ФинТех. 13+ лет работы в IT.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
                        <div class="team-item team-item--s4">
                            <div class="team-item__img">
                                <img src="img/team/img4.png">
                            </div>
                            <div class="team-item__content">
                                <div class="team-item__fio">Петр Каламбет</div>
                                <div class="team-item__desc-alt">Системный архитектор QBT.</div>
                                <div class="team-item__desc">12+ лет работы в научно-исследовательских лабораториях международных IT-компаний.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-md-offset-5 col-lg-6 col-lg-offset-6">
                        <div class="team-item team-item--s5">
                            <div class="team-item__img">
                                <img src="img/team/img5.png">
                            </div>
                            <div class="team-item__content">
                                <div class="team-item__fio">Александр Чубурков</div>
                                <div class="team-item__desc-alt">Директор по юридическим вопросам QBT.</div>
                                <div class="team-item__desc">Директор по юридическим вопросам QBT, 
                                        Member ISO/TC 307/SG Blockchain & Distributed Ledger Technologies
                                        Working group leader WG 4 Policy Reference Framework ITU-T Focus Group on Application of DLT
                                        Expert,Technical committee for standardization "Cryptography and security mechanisms" (TC 26). 17+ лет опыта в области правовой поддержки инновационных технологических проектов.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                            <div class="team-item team-item--s6">
                                <div class="team-item__img">
                                    <img src="img/team/img6.jpg">
                                </div>
                                <div class="team-item__content">
                                    <div class="team-item__fio">Дмитрий Соколов</div>
                                    <div class="team-item__desc-alt">Ведущий разработчик QBT.</div>
                                    <div class="team-item__desc">Ведущий разработчик QBT. 15+ лет работы в международных IT-компаниях.</div>
                                </div>
                            </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-6">
                            <div class="team-item team-item--s6">
                                <div class="team-item__img">
                                    <img src="img/team/img7.jpg">
                                </div>
                                <div class="team-item__content">
                                    <div class="team-item__fio">Константин Кольцов</div>
                                    <div class="team-item__desc-alt">Партнер QBT.</div>
                                    <div class="team-item__desc">
                                        Партнер  QIWI Blockchain technologies, один из создателей проекта “Битрубль". Управляет проектами стратегического развития QBT.
                                            12+ опыт работы в стратегическом маркетинге и коммуникациях (сфера: финансы и технологии).
                                        </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-dots-wrap"></div>
    </div>    
