<div class="section section-news-list section-place">
    <div class="container">
        <div class="grid-row">
            <div class="grid-column">

                <div class="module-title"><strong class="h3">{{ .Title }}</strong>
                </div>
            </div>
            <div class="grid-column">
                <div class="list-primary">

                        <div class="list-primary__item js_animate">
                            <div class="article-success">
                                <div class="article-success__head">
                                    <ul class="list-inline">
                                        <li><a href="/docs/anticorruption_clause.pdf" target="_blank">Антикоррупционная оговорка</a></li>
                                        <li><a href="/docs/policy_of_personal_data.pdf" target="_blank">Политика в отношении обработки персональных данных</a></li>
                                        <li><a href="/docs/regulation_of_personal_data.pdf" target="_blank">Положение об обработке персональных данных</a></li>
                                        <li><a href="/docs/confidential_information.pdf" target="_blank">Перечень конфиденциальной информации</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                </div>
            </div>
        </div>

    </div>
</div>