<div class="section section-team">
    <div class="container">
        <div class="section-team__group">
            <div class="grid-row grid-team_sm js_team js_animate">

                {{ range (.Data.Pages.ByParam "name").ByParam "order" }}

                <div class="grid-column">
                    <div class="team-item">

                        {{ if ne .Params.photo nil }}
                        <div style="background-image: url(/images/sections/team/{{ .Params.photo }})" class="team-item__image"></div>
                        {{ else }}
                        <div style="background-image: url(/images/sections/team/mate.jpg)" class="team-item__image"></div>
                        {{ end }}

                        <div class="team-item__body">
                            <div class="team-item__name">{{ .Params.name }}</div>
                            <div class="team-item__position">{{ .Params.title }}</div>
                            <div class="team-item__description">
                                {{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>

                {{ end }}

            </div>
        </div>
    </div>
</div>
