<div class="section section-team">
    <div class="container">
        <div class="section-team__group">
            <div class="module-title js_animate"><strong class="h3">Топ-менеджмент</strong>
            </div>
            <div class="grid-row grid-team_lg">
                <!--
                <div class="grid-column js_animate">
                    <div class="team-item team-item_primary">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__row">
                                <div class="team-item__column">
                                    <div class="team-item__name">Алексей Архипов</div>
                                    <div class="team-item__position">Генеральный директор</div>
                                </div>
                                <div class="team-item__column">
                                    <div class="team-item__description">
                                        <p>Возглавляет направление криптотехнологий в QIWI. Входит в топ-20 лиц российской блокчейн-индустрии. 12+ лет работы в IT, 5+ лет в блокчейн-технологии. Образование: МИРЭА.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="grid-column js_animate">
                    <div class="team-item team-item_primary">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__row">
                                <div class="team-item__column">
                                    <div class="team-item__name">Алексей Архипов</div>
                                    <div class="team-item__position">Управляющий партнер</div>
                                </div>
                                <div class="team-item__column">
                                    <div class="team-item__description">
                                        <p>CEO. Возглавляет направление криптотехнологий в QIWI. Входит в ТОП-20 лиц российской блокчейн-индустрии. 12+ лет работы в IT, 5+ лет в блокчейн-технологии. Образование: МИРЭА.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column js_animate">
                    <div class="team-item team-item_primary">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__row">
                                <div class="team-item__column">
                                    <div class="team-item__name">Яков Баринский</div>
                                    <div class="team-item__position">Финансовый директор</div>
                                </div>
                                <div class="team-item__column">
                                    <div class="team-item__description">
                                        <p>Возглавлял M&A и венчурное направления в компании QIWI, где вел сделки по приобретению компаний Contact и Flocktory на общую сумму 9 миллиардов рублей. Образование: НИУ-ВШЭ, University of London.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section-team__group">
            <div class="module-title js_animate"><strong class="h3">Проектный офис</strong>
            </div>
            <div class="grid-row grid-team_sm js_team js_animate">
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Левон Мдиванян</div>
                            <div class="team-item__position">Руководитель
                                <br>проектного офиса</div>
                            <div class="team-item__description">
                                <p>Более 10 лет работы в инвестиционно-банковской отрасли. Имеет богатый опыт успешного закрытия крупных российских и международных сделок по привлечению акционерного и долгового финансирования. Образование: НИУ ВШЭ, University of London.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Татьяна Билык</div>
                            <div class="team-item__position">Менеджер
                                <br>проектов</div>
                            <div class="team-item__description">
                                <p>Более 10 лет работы в банковской сфере. Участвовала в проектировании «Мастерчейна» — первой блокчейн-платформы, поддерживающей российскую криптографию, и создании Ассоциации «ФинТех». Образование: МИЭМ НИУ ВШЭ, МИРБИС.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Виталий Чаунин</div>
                            <div class="team-item__position">Менеджер
                                <br>проектов, CPM</div>
                            <div class="team-item__description">
                                <p>Более 6 лет успешного управления крупными проектами для Банка России, Сбербанка и «ВымпелКома». Руководил проектом по исследованию технологии блокчейн в Центробанке России и др. Образование: НИЯУ МИФИ.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-team__group">
            <div class="module-title js_animate"><strong class="h3">Разработчики</strong>
            </div>
            <div class="grid-row grid-team_sm js_team js_animate">
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Дмитрий Аполлонов</div>
                            <div class="team-item__position">Технический
                                <br>директор</div>
                            <div class="team-item__description">
                                <p>10 лет разработки, из них 7 - разработка серверных приложений и процессинга  в Qiwi, разработка и эксплуатация процессинга и терминального ПО walli.com (Qiwi USA). 13+ лет работы в IT.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Петр Каламбет</div>
                            <div class="team-item__position">Системный
                                <br>архитектор</div>
                            <div class="team-item__description">
                                <p>12+ лет работы в международных IT-компаниях.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Валентин Руль</div>
                            <div class="team-item__position">Back-end
                                <br>разработчик</div>
                            <div class="team-item__description">
                                <p>Проектирование и разработка серверной части решений. 10+ лет работы в ИТ-компаниях и платежных системах.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Иван Хрулёв</div>
                            <div class="team-item__position">Front-end
                                <br>разработчик</div>
                            <div class="team-item__description">
                                <p>Проектирование и разработка интерфейсов. 8+ лет работы на российском и иностранном рынке финансовых IT-продуктов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Данил Наумов</div>
                            <div class="team-item__position">Back-end
                                <br>разработчик</div>
                            <div class="team-item__description">
                                <p>Проектирование и разработка серверной части решений. 5+ лет работы в IT-компаниях и финтехе.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Руль Валентин</div>
                            <div class="team-item__position">Back-end
                                <br>разработчик</div>
                            <div class="team-item__description">
                                <p>Проектирование и разработка серверной части решений. 10+ лет работы в IT-компаниях и платежных системах.</p>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="section-team__group">
            <div class="module-title js_animate"><strong class="h3">PR и маркетинг</strong>
            </div>
            <div class="grid-row grid-team_sm js_team js_animate">
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Константин Кольцов</div>
                            <div class="team-item__position">Директор по корпоративным
                                <br>отношениям и стратегическим коммуникациям</div>
                            <div class="team-item__description">
                                <p>Управляет проектами стратегического развития QBT. 12+ лет опыта работы в стратегическом маркетинге и коммуникациях. Образование: МГИМО(У).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Елена Тарасова</div>
                            <div class="team-item__position">SMM & Content
                                <br>менеджер</div>
                            <div class="team-item__description">
                                <p>Создание и продюсирование SMM-кампаний и контентных проектов. Более 5 лет работы в сфере digital-маркетинга. Образование: НИУ ВШЭ.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Эльдар Хайруллин</div>
                            <div class="team-item__position">Digital менеджер</div>
                            <div class="team-item__description">
                                <p>Разработка и продвижение digital-проектов.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Алексей Чепков</div>
                            <div class="team-item__position">Операционный 
                                <br>директор по маркетингу</div>
                            <div class="team-item__description">
                                <p>7 лет успешно завершенных проектов (по критериям ROI, market share growth, financial efficiency) в международном и национальном маркетинге и операционном управлении для компаний в Media, Digital и FMCG сегментах.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-team__group">
            <div class="module-title js_animate"><strong class="h3">Back office</strong>
            </div>
            <div class="grid-row grid-team_sm js_team js_animate">
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Антонина Веденеева</div>
                            <div class="team-item__position">HR менеджер</div>
                            <div class="team-item__description">
                                <p>5+ лет опыта работы в HR, консалтинге и e-commerce.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Александр Чубурков</div>
                                <br>Руководитель юридического направления. </div>
                                <div class="team-item__description">
                                    <p>17+ лет опыта в области правовой поддержки инновационных технологических проектов.</p>
                                </div>
                        </div>
                    </div>
                </div>
                <!--<div class="grid-column">
                    <div class="team-item">
                        <div style="background-image: url(/images/sections/team/aleksey-arkhipov.jpg)" class="team-item__image"></div>
                        <div class="team-item__body">
                            <div class="team-item__name">Киселева Екатерина</div>
                            <div class="team-item__position">
                                <br>... . </div>
                                <div class="team-item__description">
                                    <p>Более 12 лет работы в финансовом секторе (продажи, маркетинг, продакт). Выводила на рынок банковские и страховые продукты.</p>
                                </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>