    
    <div class="layout-footer">
        <div class="container">
            <div class="layout-footer__grid">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="layout-footer__contacts">
                            <p><a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
                            </p>
                            <p>{{ .Site.Params.phone }}
                                <br>{{ .Site.Params.address }}</p>
                        </div>
                    </div>
                    <div class="grid-column">
                        <div class="footer-links">
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a href="/services/" class="footer-menu__link">Services</a>
                                </li>
                                <li class="footer-menu__item"><a href="/projects/" class="footer-menu__link">Portfolio</a>
                                </li>
                                <li class="footer-menu__item"><a href="/about/" class="footer-menu__link">Company</a>
                                </li>
                                <li class="footer-menu__item"><a href="/sitemap/" class="footer-menu__link">Sitemap</a>
                                </li>
                            </ul>
                            <ul class="footer-menu">
                                {{ range .Site.Params.social.en }}
                                    
                                        <li class="footer-menu__item">
                                            <a href="{{ .url}}" target="_blank" class="footer-menu__link">{{ .title }}</a>
                                        </li>
                                    
                                {{ end }}
                                
                            </ul>
                            <ul class="footer-menu">
                                <!--
                                <li class="footer-menu__item"><a href="#" class="footer-menu__link">en</a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-column"><span class="layout-footer__logo"></span>
                    </div>
                    <div class="grid-column">
                        <div class="footer-links">
                            <ul class="footer-menu footer-menu_sm">
                                <li class="footer-menu__item"><a href="/careers/" class="footer-menu__link">Careers</a>
                                </li>
                                <!--<li class="footer-menu__item"><a href="/wiki/" class="footer-menu__link">Guide of blockchain</a>-->
                                </li>
                            </ul>
                            <ul class="footer-menu footer-menu_sm">
                                <li class="footer-menu__item"><a href="/legal" class="footer-menu__link">Legal</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><span class="scroll-top js_scroll-top"></span>