
<div class="layout-header">
    <div class="container">
        <div class="layout-header__inner">
            <a href="/" class="logo-qbt"></a>
            <ul class="main-menu">
                <li class="main-menu__item"><a href="/../about/" class="main-menu__link">about us</a>
                </li>
                <li class="main-menu__item"><a href="/../services/" class="main-menu__link">services</a>
                </li>
                <li class="main-menu__item"><a href="/../projects/" class="main-menu__link">portfolio</a>
                </li>
                <li class="main-menu__item"><a href="/../partners/" class="main-menu__link">partners</a>
                </li>
                <li class="main-menu__item"><a href="/../news/" class="main-menu__link">news</a>
                </li>
                <!--
                <li class="main-menu__item"><a href="/team/" class="main-menu__link">команда</a>
                </li>
                -->
                <li class="main-menu__item"><a href="/../contacts/" class="main-menu__link">contacts</a>
                </li>
            </ul>
            <ul class="language">
                
                <li class="language__item"><a href="/ru" class="language__link">русский</a>
                </li>
                
                
            </ul>
            <a href="" class="burger js_burger">
                <span class="burger__item"></span>
            </a>
        </div>
    </div>
</div>

