<head>
    <meta charset="utf-8">
    <meta name="description" content="Blockchain and DLT consulting, development, and implementation in your business. Our wealth of experience and unsurpassed expertise allow us to bring together cutting-edge technologies and a wide range of industries.">
		{{ partial "head-base" }}
    {{ if .IsHome }}
      <title>QIWI Blockchain Technologies</title>
    {{ else }}
      <title>QIWI Blockchain Technologies — {{ .Title }}</title>
    {{ end }}
    {{ partial "styles" }}
    {{ partial "head-js" }}
	</head>