
<script src="/scripts/jquery/jquery-3.3.1.min.js"></script>
<script src="/scripts/plugins/slick/slick.min.js"></script>
<script src="/scripts/plugins/autosize/jquery.textarea.autosize.min.js"></script>
<script src="/scripts/plugins/in-view/in-view.min.js"></script>
<script src="/scripts/interface.js"></script>

<Script>
        $("#qbtform").submit(function(e) {
            e.preventDefault();
          
            var $form = $(this);
            $.post($form.attr("action"), $form.serialize()).then(function() {
              $(".thank-you").show();
              $("#qbtform").trigger('reset')
            });
          });
</Script>