<div class="layout-body">
    <div class="section section-404">
        <div class="container">
            <div class="grid-row">
                <div class="grid-column"><strong class="section-404__headline">404</strong>
                </div>
                <div class="grid-column">
                    <div class="section-404__menu">
                        <ul class="menu-info">
                            <li class="menu-info__item"><a href="/about/" class="menu-info__link">О нас</a>
                            </li>
                            <li class="menu-info__item"><a href="/services/" class="menu-info__link">Услуги</a>
                            </li>
                            <li class="menu-info__item"><a href="/projects/" class="menu-info__link">Проекты</a>
                            </li>
                            <li class="menu-info__item"><a href="/partners/" class="menu-info__link">Партнеры</a>
                            </li>
                            <li class="menu-info__item"><a href="/news/" class="menu-info__link">Новости</a>
                            </li>
                            <li class="menu-info__item"><a href="/contacts/" class="menu-info__link">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>