<div class="section section-about section_primary">
    <div class="container">
        <div class="section-about__head">
            <div class="grid-row js_animate">
                <div class="grid-column grid-column_space">
                    <div class="module-title"><strong class="h3">О нас</strong>
                    </div>
                    <div class="module-footer mobile-hide"><a href="#feedback" class="btn btn-primary">свяжитесь с нами<span class="icon-plus icon-plus_info"><span class="icon-plus__line"></span></span></a>
                    </div>
                </div>
                <div class="grid-column">
                    <div class="module-content">
                        <p>
                                Мы оказываем технологические, проектные и консалтинговые услуги, предлагая индивидуальные решения по цифровизации бизнеса с помощью технологии распределенного реестра и блокчейна.
                                <br/>
                                Команда QIWI Blockchain Technologies — одна из самых опытных в области IT-разработки. Наши знания и опыт позволяют объединять революционные технологии с целыми индустриями и отраслями.
                                
                        </p><p>
                                Вместе с клиентом мы создаем новые технологические ценности для бизнеса. Шаг за шагом мы проходим весь процесс: анализируем целесообразность и эффективность перехода на блокчейн и DLT, разрабатываем прототип, тестируем внедрение технологии, стратегию ее имплементации, реализуем проект.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-about__body">
            <div class="module-media">
                <img src="/images/content/office.png" alt="">
            </div>
        </div>
    </div>
</div>