

<div class="section section-company">
    <div class="container js_animate">
        <div class="section-company__head">
            <div class="module-title"><strong class="h3">Team</strong>
            </div>
        </div>
        <div class="section-company__body">
            <div class="grid-row">
                
                <div class="grid-column">
                    <div class="module-team module-team_light">
                        <div class="module-team__media">
                            <img src="/images/sections/team/arkh.jpg" alt="">
                        </div>
                        <div class="module-team__body">
                            <div class="module-team__name">Alexey
                                <br>Arkhipov</div>
                            <div class="module-team__content">
                                <div class="module-team__position">
                                    <p>Генеральный директор</p>
                                </div>
                                <div class="module-team__description">
                                    <p>CEO. Возглавляет направление криптотехнологий в QIWI. Входит в ТОП-20 лиц российской блокчейн-индустрии. 12+ лет работы в IT, 5+ лет в блокчейн-технологии. Образование: МИРЭА</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="grid-column">
                    <div class="module-team module-team_light">
                        <div class="module-team__media">
                            <img src="/images/sections/team/koltsov.jpg" alt="">
                        </div>
                        <div class="module-team__body">
                            <div class="module-team__name">Konstantin
                                <br>Koltsov</div>
                            <div class="module-team__content">
                                <div class="module-team__position">
                                    <p>Директор по корпоративным<br> 
отношениям и стратегическим коммуникациям</p>
                                </div>
                                <div class="module-team__description">
                                    <p>Управляет проектами стратегического развития QBT. 12+ лет опыта работы в стратегическом маркетинге и коммуникациях. Образование: МГИМО(У).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-company__footer">
            <div class="grid-row grid-row_end">
                <div class="grid-column"><a href="/team/" class="btn btn-default">All team</a>
                </div>
            </div>
        </div>
        
    </div>
</div>