<div class="section section-note">
    <div class="container js_animate">
        <div class="section-note__body">
            <div class="module-entry">
                <p>
                    {{ .Site.Params.slogan_long }}
                </p>
            </div>
        </div>
        <div class="section-note__media">
                <div class="module-media">
                    <div style="background-image: url(/videos/preview/figures-light.jpg)" class="module-media__poster">
                        <video muted autoplay playsinline class="module-media__video">
                            <source src="/videos/figures-success.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
    </div>
</div>