<div class="section section-place">
    <div class="container js_animate">
        <div class="grid-row">
            <div class="grid-column grid-column_space">
                <div class="module-title"><strong class="h3">Вакансии</strong>
                </div>
                <div class="module-note">
                    <p>
                        <a href="mailto:careers@qiwi.tech">
                            <svg class="icon icon-square">
                                <use xlink:href="#icon-square"></use>
                            </svg>careers@qiwi.tech</a>
                    </p>
                    
                    <ul>
                        
                    </ul>
                    
                </div>
            </div>
            <div class="grid-column">
                <div class="module-content">
                    <p>Мы рады сотрудничать с талантливыми и амбициозными специалистами в области блокчейна и разработки. Узнали себя? Напишите нам, если хотите работать в QBT.</p>
                </div>
                
                <div class="vacancies vacancies_md">
                    <a href="/careers/04" class="vacancy-item">
                        <div class="vacancy-item__head"><strong class="vacancy-item__title">IT-архитектор / Software Architect (блокчейн)
<span>подробнее</span></strong>
                        </div>
                        <div class="vacancy-item__footer">
                            <p>Москва</p>
                        </div>
                    </a>
                    <a href="/careers/01" class="vacancy-item">
                        <div class="vacancy-item__head"><strong class="vacancy-item__title">Ведущий бизнес-аналитик
<span>подробнее</span></strong>
                        </div>
                        <div class="vacancy-item__footer">
                            <p>Москва</p>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="module-button"><a href="/careers/" class="btn btn-default">все вакансии	</a>
        </div>
    </div>
</div>