

<div class="section section-company">
    <div class="container js_animate">
        <div class="section-company__head">
            <div class="module-title"><strong class="h3">Команда</strong>
            </div>
        </div>
        <div class="section-company__body">
            <div class="grid-row">
                <!--
                <div class="grid-column">
                    <div class="module-team module-team_light">
                        <div class="module-team__media">
                            <img src="/images/sections/team/aa.png" alt="">
                        </div>
                        <div class="module-team__body">
                            <div class="module-team__name">Алексей
                                <br>Архипов</div>
                            <div class="module-team__content">
                                <div class="module-team__position">
                                    <p>генеральный директор</p>
                                </div>
                                <div class="module-team__description">
                                    <p>CEO. Возглавляет направление криптотехнологий в QIWI. Входит в ТОП-20 лиц российской блокчейн-индустрии. 12+ лет работы в IT, 5+ лет в блокчейн-технологии. Образование: МИРЭА</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <div class="grid-column">
                    <div class="module-team module-team_light">
                        <div class="module-team__media">
                            <img src="/images/sections/team/yb.png" alt="">
                        </div>
                        <div class="module-team__body">
                            <div class="module-team__name">Яков
                                <br>Баринский</div>
                            <div class="module-team__content">
                                <div class="module-team__position">
                                    <p>управляющий партнер</p>
                                </div>
                                <div class="module-team__description">
                                    <p>Возглавлял M&A и венчурное направления в компании QIWI, где вел сделки по приобретению компаний Contact и Flocktory на общую сумму 9 миллиардов рублей. Образование: НИУ-ВШЭ, University of London.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="section-company__footer">
            <div class="grid-row grid-row_end">
                <div class="grid-column"><a href="/team/" class="btn btn-default">Вся команда</a>
                </div>
            </div>
        </div>
        -->
    </div>
</div>